<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Sketchsy</title>
    <link rel="stylesheet" href="css/main.css">
    <link href='http://fonts.googleapis.com/css?family=Lobster' rel='stylesheet' type='text/css'>
  </head>
  <body>

  <div class="cards"></div>

  <script type="text/html" id="listings">
    <!-- <div class="cards"> -->
      <% m.items.forEach(function (item) { %>
      <div class="card" id='<%- item.user_id %>'>
        <div class="card-image">
          <div class="price">$<%- item.price %></div>
          <img src="<%- item.MainImage.url_170x135 %>" alt="">
        </div>
        <div class="card-header">
          <%= item.title %>
        </div>
        <div class="card-copy">
          <a class="buy" href="<%- item.url %>">BUY NOW</a>
          <button class="artist-info info">View Artist</button>
        </div>
      </div>
      <% }) %>
    </script>
    <script type="text/html" id="etsyProfile">
      <div class="backofcard">
        <div class="cards" id="profilecards">
          <div class="card" id="profilecard">
            <div class="card-image" id="profileimage">
              <img  id="profile-pic" src="<%- m.image_url_75x75 %>" alt="profile pic">
            </div>
            <div class="card-header">
            <%- m.first_name %> <%- m.last_name %>
            </div>
            <div class="card-copy" id="bio">
            <%= m.city %>
            </div>
          </div>
        </div>
      </div>
    <!-- </div> -->
  </script>

  <script src="js/vendor.js"></script>
  <script src="js/app.js"></script>

  </body>
</html>
