<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Sketchsy</title>
    <link rel="stylesheet" href="css/main.css">
  </head>
  <body>

  <div class="main-content"></div>

  <script type="text/html" id="listings">
    <div class="list-container">
      <ul>
        <% m.items.forEach(function (item) { %>
        <li class="indi-listing">
          <a class-"listing-title" href="<%- item.url %>">
            <img src="<%- item.MainImage.url_75x75 %>">
            <%- item.title %>
          </a>
        </li>
        <% }) %>
      </ul>
    </div>
  </script>

  <script src="js/vendor.js"></script>
  <script src="js/app.js"></script>

  </body>
</html>
